<h1>Word count!</h1>
<h3><em>It's simple just write a word and copy the content in the text area and
we'll tell you how many times it has appeared</em></h3>
<form action="/form">
  <div class="form-group">
    <label for="word">Enter your word here</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="content">Enter your content here</label>
    <textarea  rows="8" cols="80" id="content" name="content" class="form-control" type="text"></textarea>
  </div>

  <button type="submit" class="btn btn-info">count!</button>
</form>



<h2><strong>Output:</strong><%=@content%></h2>
