<!DOCTYPE html>
  <html>
    <head>
      <title>Word count!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <div class="container">
        <style media="screen">
          h1{
            text-align: center;
            text-decoration: underline;
            font-style: oblique;
            font-weight: bolder;
          }
          body{
            background-color: #DCDCDC;
          }
        </style>
        <%= yield %>
      </div>
    </body>
  </html>
